doctype html
html(lang="it")
  head
    block title
      title= sitename
    include ../partials/header

  block bodyClass
    body

  include ../partials/navigation

  #main-wrapper.off-canvas-content(data-off-canvas-content)
    block content

  include ../partials/footer

  script(src=`/js/vendors.min.js?v=${version}`)
  script(src=`/js/main.min.js?v=${version}`)
  block scripts
