doctype html
html(lang="it")
  head
    title= sitename
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=0')
    
    //- Styles
    link(rel="stylesheet", href="css/vendors.min.css")
    link(rel="stylesheet", href="css/main.min.css")

  body
    
    .vertical-center
        h1 
            |NOW CODE SOMETHING 
            span.secondary-font <br>AWESOME!
        
    script(src='js/vendors.min.js')
    script(src='js/main.min.js')

    